body {
	text-align: center;
	font-family: 'Comic sans MS';
	background-image: url('ressources/background.png');
	color: white;
}

/*MIDDLE SECTION*/

	.middle-section {
		position: absolute;
		width: 70%;
		left: 0;
	    display: inline-block;
		border: 5px solid black;
		height: 100%;
	}

	.clicking {
		text-align: center;
		margin-left: 30%
		margin-right: 30%;
		border-radius: 20px;
		padding: 20px;
		font-family: "Comic sans MS";
		font-size: 15px; 
	}

	.buttclicking {
		width: 300px;
		height: 300px;
		border-radius: 20px;
	}

	.imgclicking {
		width: 100%;
	}

	#display_place {
		padding: 20px;
		font-family: "Comic sans MS";
		width: 10%;
		margin: auto;
		font-size: 20px;
		background: rgba(255, 255, 255, 0.6);
		color: black;
		width: 100%;
	}

/*RIGHT SECTION*/

	.right-section {
		background-color: white;
		color: black;
	    display: inline-block;
		border: 5px solid black;
		position: absolute;
		right: 0;
		width: 30%;
		height: 100%;
		text-align: left;
	}

	#shop_title_img {

		width: 15%;
		margin-top: 5px;
		margin-left: 20%;
	}

	#shop_title_title {
		font-size: 40px;
		font-weight: bold;
	}

	.shop {
		border-top: 5px solid black;
		width: 100%;
		height: 75%;
		margin-bottom: 5px;
	    display: inline-block;
	}

	.upgrade {
		position: relative;	
		border-top: 5px solid black;
		height: auto;
		padding-top: 5px;
		margin-bottom: 5px;
	}
	
	.sous-upgrade {
		position: relative;
		width: 100%;
	}

	.buy_upgrade {
		position: relative;
		padding: 0;
		width: 19%;
		height: 50px;
	}
	
	.buy_upgrade_img {
		position: absolute;
		width: 30%;
		left: 5%;
		top: 20%;
	}

	.upgrade_content {
		display: inline-block;
		position: absolute;
		font-size: 10px;
		left: 30%;
		top: 20%;
	}

	.sous-shop {
		position: relative;
		border-bottom: 1px solid black;
		padding-top: 5px;
		padding-bottom: 5px;
		height: 18%;
	}

	.sous-shop img {
		width: 25%;
		position: absolute;
		top: 0;
		left: 0;
	}

	.sous-shop div {
	    display: inline-block;
	}

	.sous-upgrade div {
	    display: inline;
	    margin-left: 20%;
	}

	.shop_img {
		width: 20%;
		padding: 0;
	    display: inline-block;
	}

	.shop_name {
		position: absolute;
		left: 30%;
		top: 20%;
		font-size: 15px;
	}

	.shop_price {
		position: absolute;
		left: 30%;
		top: 50%;
		font-size: 15px;
	}

	.shop_count {
		position: absolute;
		left: 60%;
		top: 20%;
		font-size: 15px;
	}
	
	.shop_dps {
		position: absolute;
		left: 60%;
		top: 50%;
		font-size: 15px;

	}

	.shop_buy {
		position: absolute;
		right: 1%;
		top: 10%;
		font-size: 16px;
		width: 40%;
		height: 80%;
	}